:root {
  --background-grey: #C7C7C7;
  --post-grey: #E6E6E6;
  --dark-grey: #444444;
  --deep-red: #D52020;
  --dark-red: #941515;
  --light-red: rgba(255, 0, 0, 0.3);
  --button-shadow: rgba(0, 1, 1, 0.1);
  --post-backgroud: rgba(219, 219, 219, 0.7);
}

 .nav-item {
  margin-left: 10px;
  margin-right: 10px;
 }

 .nav-link {
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
 }

 .nav-link:hover,
 .nav-link:focus {
  color: var(--deep-red);
 }

 .nav-link:active {
  color: var(--dark-red);
 }

 .nav-link-current {
  position: relative;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 2px;
  height: 2px;
  background-color: var(--deep-red);
}


 .post-block {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: var(--post-grey);
    margin: 10px;
 }

 .text-truncate-container {
  width: auto;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-container-10 {
  width: auto;
  -webkit-line-clamp: 10;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-group {
  color: var(--deep-red);
}


/* template-content */

.views-icon,
.comments-icon {
  height: 16px;
  margin-right: 5px;
}

.views-count {
  font-size: 12px;
  margin: 0;
  margin-right: 20px;
}

.comments-count {
  font-size: 12px;
  margin: 0;
}

.social-links-button {
  width: 40px;
  height: 40px;
}

.social-links-button:hover,
.social-links-button:focus {
  background-color: var(--deep-red);
  border-radius: 50%;
}

.social-links-button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px var(--button-shadow);
}

.social-links-button:active path {
  opacity: 0.3;
}

.multiline {
  white-space: break-spaces;
}

.about-block,
.blog-post {
  /* background-color: var(--post-backgroud); */
  background: linear-gradient(150deg, var(--light-red), var(--post-backgroud) 10%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.about-author {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: var(--post-backgroud);
}

/* for background image jump removal after modal appears */
.modal-open {
  padding-right: 0 !important;
}

html {
  overflow-y: scroll !important;
}

/* modal appearance */

.modal-content {
  background-color: var(--background-grey);
}

/* 
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); } */

.n-likes {
  margin: auto;
}

.like-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.like {
  cursor: pointer;
}

.like-img {
  opacity: 0.7;
  filter: grayscale(100%);
  padding: 5px;
}

.like .like-img:hover,
.like .like-img:focus {
  opacity: 1;
}

.like-check:checked ~ .like .like-img {
  filter: grayscale(0%);
  background-color: var(--light-red);
  border: 1px var(--light-red);
  border-radius: 50%;
}

.users-form {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: var(--post-grey);
  background: linear-gradient(150deg, var(--light-red), var(--post-backgroud) 10%);
}

.pagination {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pagination > li > a
{
    background-color: var(--post-grey);
    color: black;
    border: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: var(--deep-red);
    background-color: var(--background-grey);
}

.pagination > .active > span
{
    color: white;
    background-color: var(--deep-red) !important;
    border: none;
}

.pagination > .active > span:hover
{
    background-color: var(--dark-red) !important;
    color: white;
}

.styled-link {
  color: black;
}

.styled-link:hover {
  color: var(--deep-red);
}

.info-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-justify {
  text-align: justify;
}