{% extends "users/users_base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block card %}
  <div class="users-form card">
    <div class="card-header text-center fs-5 fw-semibold">
      Изменить пароль
    </div>
    <div class="card-body">
      {% include 'includes/errors_check.html' %}
      <form method="post"
        {% if action_url %}
          action="{% url action_url %}"
        {% endif %}
      >

        {% include 'includes/form.html' %}

        <div class="text-center mb-2">
          <button type="submit" class="btn btn-secondary fs-5">
            Изменить пароль
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
