{% extends "users/users_base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block card %}
{% if validlink %}
  <div class="users-form card">
    <div class="card-header text-center fs-5 fw-semibold">
      Введите новый пароль
    </div>
    <div class="card-body">
      {% include 'includes/errors_check.html' %}

      <form method="post"
        {% if action_url %}
          action="{% url action_url %}"
        {% endif %}
      >
        {% include 'includes/form.html' %}
        <div class="text-center">
          <button type="submit" class="btn btn-secondary fs-5 me-2 mb-2">
            Назначить новый пароль
          </button>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <!-- если использована неправильная ссылка -->
  <div class="users-form card">
    <div class="card-header text-center fs-5 fw-semibold">
      Ошибка
    </div>
    <div class="card-body">
      <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
    </div>
  </div>
{% endif %}
{% endblock %}
